@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 217, 220; /* #D6D9DC */
  --background-end-rgb: 255, 255, 255; 
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 242, 242, 242;
    --background-start-rgb: 24, 27, 30; /* #181B1E */
    --background-end-rgb: 0, 0, 0; 
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
